.filters {
    margin-left: 10px;
}
.button {
    margin-top: 5px;
    background-color: #3e9b39;
}

.button2 {
    margin-top: 5px;
    background-color: #3e9b39;
}

.filter-bar {
    background-color: white;
}